@import './../../styles.scss';

:host {
    display: flex;
    align-items: center;
    background: mat-color($Custom-primary, A100);
    width: 100vw;
    height: 100vh;
    padding: 0 10vw;
    overflow: hidden;
    color: mat-color($Custom-primary, 500);
}

.wrapper {
    flex-grow: 2;
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-size: 8em;
    font-weight: 100;
    line-height: auto;
}

p {
    width: 95%;
    font-size: 1.5em;
    line-height: 1.4;
}

.buttons {
    white-space: nowrap;
    display: inline-block;
}

a {
    display: inline-block;
    padding: .8em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 3px solid mat-color($Custom-primary, 200);
    color: mat-color($Custom-primary);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:hover {
        border: 3px solid mat-color($Custom-primary, 500);
        background-color: mat-color($Custom-primary, 500);
        color: mat-color($Custom-primary, A100);
        text-decoration: none;

        &:before {
            top: 0;
        }
    }

    &:before {
        content: '';
        background: #138FF2;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        transition: .3s;
        z-index: -1;
    }
}