################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLL
/.vs/Api.SEED
/SEED.BLL/obj
/Api.SEED/bin/Debug/net5.0
/Api.SEED/obj/Debug/net5.0
/Api.SEED/obj
/DataAccessLayer/bin/Debug/net5.0
/DataAccessLayer/obj
